{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 100,
  "semi": true,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "svelteIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
