@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");
@import url("./ui.css");

@custom-variant dark (.dark &);

@layer base {
  :root {
    --background: oklch(0.9649 0.0045 78.3);
    --foreground: oklch(0.3848 0.0113 78.19);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3848 0.0113 78.19);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3848 0.0113 78.19);
    --primary: oklch(0.4798 0.0646 142.37);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8756 0.0209 81.78);
    --secondary-foreground: oklch(0.5057 0.0172 80.65);
    --muted: oklch(0.935 0.0074 80.72);
    --muted-foreground: oklch(0.6058 0.0152 78.21);
    --accent: oklch(0.9348 0.0149 70.88);
    --accent-foreground: oklch(0.5057 0.0172 80.65);
    --destructive: oklch(0.4798 0.0869 19.55);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8756 0.0209 81.78);
    --input: oklch(0.8756 0.0209 81.78);
    --ring: oklch(0.633 0.0436 170.11);
    --chart-1: oklch(0.633 0.0436 170.11);
    --chart-2: oklch(0.705 0.04 145.14);
    --chart-3: oklch(0.7715 0.0374 122.82);
    --chart-4: oklch(0.8403 0.0419 101.18);
    --chart-5: oklch(0.9348 0.0149 70.88);
    --sidebar: oklch(0.935 0.0074 80.72);
    --sidebar-foreground: oklch(0.3848 0.0113 78.19);
    --sidebar-primary: oklch(0.633 0.0436 170.11);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8756 0.0209 81.78);
    --sidebar-accent-foreground: oklch(0.5057 0.0172 80.65);
    --sidebar-border: oklch(0.8258 0.0183 81.32);
    --sidebar-ring: oklch(0.633 0.0436 170.11);
    --font-sans: "Nunito", ui-sans-serif, sans-serif, system-ui;
    --font-serif: "PT Serif", ui-serif, serif;
    --font-mono: "Fira Code", ui-monospace, monospace;
    --radius: 0.75rem;
  }

  .dark {
    --background: oklch(0.2823 0.0047 67.64);
    --foreground: oklch(0.8756 0.0209 81.78);
    --card: oklch(0.326 0.0059 78.25);
    --card-foreground: oklch(0.8756 0.0209 81.78);
    --popover: oklch(0.326 0.0059 78.25);
    --popover-foreground: oklch(0.8756 0.0209 81.78);
    --primary: oklch(0.7184 0.1122 146.02);
    --primary-foreground: oklch(0.2823 0.0047 67.64);
    --secondary: oklch(0.3848 0.0113 78.19);
    --secondary-foreground: oklch(0.8756 0.0209 81.78);
    --muted: oklch(0.3848 0.0113 78.19);
    --muted-foreground: oklch(0.67 0.0197 78.19);
    --accent: oklch(0.4511 0.0123 81.77);
    --accent-foreground: oklch(0.935 0.0074 80.72);
    --destructive: oklch(0.6232 0.0669 19.13);
    --destructive-foreground: oklch(0.2823 0.0047 67.64);
    --border: oklch(0.3848 0.0113 78.19);
    --input: oklch(0.3848 0.0113 78.19);
    --ring: oklch(0.6997 0.0406 173.37);
    --chart-1: oklch(0.6997 0.0406 173.37);
    --chart-2: oklch(0.7355 0.0485 145.06);
    --chart-3: oklch(0.775 0.0349 143.86);
    --chart-4: oklch(0.8258 0.0285 141.96);
    --chart-5: oklch(0.8733 0.0212 140.89);
    --sidebar: oklch(0.326 0.0059 78.25);
    --sidebar-foreground: oklch(0.8756 0.0209 81.78);
    --sidebar-primary: oklch(0.6997 0.0406 173.37);
    --sidebar-primary-foreground: oklch(0.2823 0.0047 67.64);
    --sidebar-accent: oklch(0.3848 0.0113 78.19);
    --sidebar-accent-foreground: oklch(0.8756 0.0209 81.78);
    --sidebar-border: oklch(0.4511 0.0123 81.77);
    --sidebar-ring: oklch(0.6997 0.0406 173.37);
    --font-sans: "Nunito", ui-sans-serif, sans-serif, system-ui;
    --font-serif: "PT Serif", ui-serif, serif;
    --font-mono: "Fira Code", ui-monospace, monospace;
    --radius: 0.75rem;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }

  /* TODO: 2025-07-21 - Re-enable no-select for all elements after testing */

  * {
    @apply border-border outline-ring/50;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-serif: var(--font-pt-serif);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-border: var(--destructive-border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-border: var(--primary-border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --shadow-xs: 0 2px 0 0 var(--border);
  --shadow-sm: 0 2px 0 0 var(--border);
  --shadow-md: 0 2px 0 0 var(--border);
  --shadow-lg: 0 2px 0 0 var(--border);
  --shadow-xl: 0 2px 0 0 var(--border);
  --shadow-2xl: 0 2px 0 0 var(--border);
  --shadow-3xl: 0 2px 0 0 var(--border);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  .border {
    border-width: 2px;
  }

  .border-l {
    border-left-width: 2px;
  }

  .border-r {
    border-right-width: 2px;
  }

  .border-t {
    border-top-width: 2px;
  }

  .border-b {
    border-bottom-width: 2px;
  }

  .shadow-primary {
    box-shadow: 0 2px 0 0 var(--primary-border);
  }

  .shadow-destructive {
    box-shadow: 0 2px 0 0 var(--destructive);
  }

  .shadow-destructive-border {
    box-shadow: 0 2px 0 0 var(--destructive-border);
  }

  .texture {
    background-image: url("https://matsu-theme.vercel.app/texture.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 0.12;
    mix-blend-mode: multiply;
    z-index: 100;
    isolation: isolate;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
  }
}
